nav {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    background-color: beige;
    padding: 0 1vw;
}

nav h1 {
    display: inline-block;
}

nav ul {
    justify-content: end;
}

nav ul a {
    padding: 10px;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover a {
    color: blue;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    /* Create a media query when the content does not fill the entire page */
    width: 100vw;
    max-width: 100vw;
    background-color: beige;
    align-content: center;
}

.footer ul {
    text-align: center;
    font-size: 2vw;
}

.footer ul li {
    list-style: none;
    display: inline;
    justify-content: space-between;
    padding: 15px;
}