nav {
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

nav h1 {
    display: inline-block;
    padding: 15px;
}

nav ul {
    justify-content: end;
    margin-bottom: 0;
    padding-top: 25px;
}

nav ul a {
    padding: 10px;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover a {
    color: blue;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: beige;
    align-content: center;
    width: 100vw;
}

.footer ul {
    text-align: center;
    font-size: 2vh;
}

.footer ul li {
    list-style: none;
    display: inline;
    justify-content: space-between;
    padding: 15px;
}

section {
    margin-bottom: 100px;
}

section a img {
    width: 100%;
    padding: 20px;
    max-height: 350px;
}

section a img:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

#profile-pic {
    width: 60%;
    max-width: 200px;
    height: auto;
}

#nav-options {
    font-size: 2vh;
}

.title {
    font-size: 4vh;
}